# === No need to change the database + redis creds for the quickstart ===
# NOTE: If these are changed, either use the variable substitution syntax ${LIKE_THIS} or make sure to update docker-compose as well

# Database credentials
LOCAL_DB_HOST = "db"  # Needs to match the corresponding docker-compose container name instead of localhost
LOCAL_DB_USER = "localuser"
LOCAL_DB_PASSWORD = "localuser123"
LOCAL_DB_NAME = "localdb"
LOCAL_DB_PORT = 5432

# Redis vector store credentials
LOCAL_REDIS_HOST = "cache"  # Needs to match the corresponding docker-compose container name instead of localhost
LOCAL_REDIS_PORT = 6379

# === Start here and below for quickstart ===

# Encryption
# NOTE: You can generate a key quickly using this code
# from cryptography.fernet import Fernet
# key = Fernet.generate_key()
ENCRYPTION_KEY

# Azure AI Hosting
# Azure AI Embedding
AZURE_EMBEDDING_MODEL_ENDPOINT
AZURE_EMBEDDING_MODEL_KEY
AZURE_EMBEDDING_MODEL_DEPLOY_NAME

# Azure AI Small Model
AZURE_SMALL_MODEL_ENDPOINT
AZURE_SMALL_MODEL_KEY
AZURE_SMALL_MODEL_DEPLOY_NAME

# Azure AI Large Model
AZURE_LARGE_MODEL_ENDPOINT
AZURE_LARGE_MODEL_DEPLOY_NAME
