# === No need to change the database + redis creds for the quickstart ===
# NOTE: If these are changed, either use the variable substitution syntax ${LIKE_THIS} or make sure to update docker-compose as well

# Database credentials
BASEJUMP_DB_HOST = "db"  # Needs to match the corresponding docker-compose container name instead of localhost
BASEJUMP_DB_USER = "localuser"
BASEJUMP_DB_PASSWORD = "localuser123"
BASEJUMP_DB_NAME = "localdb"
BASEJUMP_DB_PORT = 5432
BASEJUMP_SSL = False # Set to True in production

# Redis vector store credentials
BASEJUMP_REDIS_HOST = "cache"  # Needs to match the corresponding docker-compose container name instead of localhost
BASEJUMP_REDIS_PORT = 6379

# === Start here and below for quickstart ===

# Encryption
# NOTE: You can generate a key quickly using this code
# from cryptography.fernet import Fernet
# key = Fernet.generate_key()
BASEJUMP_ENCRYPTION_KEY

# Azure AI Hosting
# Azure AI Embedding
BASEJUMP_AZURE_EMBEDDING_MODEL_ENDPOINT
BASEJUMP_AZURE_EMBEDDING_MODEL_KEY
BASEJUMP_AZURE_EMBEDDING_MODEL_DEPLOY_NAME

# Azure AI Small Model
BASEJUMP_AZURE_SMALL_MODEL_ENDPOINT
BASEJUMP_AZURE_SMALL_MODEL_KEY
BASEJUMP_AZURE_SMALL_MODEL_DEPLOY_NAME

# Azure AI Large Model
BASEJUMP_AZURE_LARGE_MODEL_ENDPOINT
BASEJUMP_AZURE_LARGE_MODEL_DEPLOY_NAME

# AWS AI Hosting
# BASEJUMP_AWS_LARGE_MODEL_ENDPOINT
# BASEJUMP_AWS_USER_ACCESS_KEY_ID
# BASEJUMP_AWS_USER_SECRET_ACCESS_KEY
# BASEJUMP_AWS_LARGE_MODEL_DEPLOYMENT_REGION
